_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea
.DS_Store
/.env

.vscode/

test.py

YAFPA/obsidian-share/cogs/__pycache__/
dist/*
venv/*
YAFPA.egg-info/*
build/*
*/__pycache__/*


YAFPA/common/__pycache__/
YAFPA/regextext.py
YAFPA/.YAFPA-env