---
---

<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/fantasque-sans-mono" type="text/css"/> 
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
	
    <link rel="icon" href="{{site.favicon}}" type="image/png"/>
    <link href="/assets/css/style.css" rel="stylesheet" media="all" class="default"/>
	<link rel="stylesheet" href="/assets/css/highlight.css">
	<link rel="stylesheet" href="/assets/css/image_flags.css">

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <meta name="description" content="{{ site.user_description }}">
    <meta content="{{site.name}}" property="og:site_name">
    {%- if page.description -%}
        <meta name="twitter:description" content="{{ page.description }}">
        <meta property="og:description" content="{{page.description}}">
    {%- else -%}
        <meta name="twitter:description" content="{{ site.user_description }}">
        <meta property="og:description" content="{{site.user_description}}">
    {%- endif -%}
    {%- if page.title -%}
        <meta content="{{ page.title }}" property="og:title">
        <meta content="article" property="og:type">
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
        <meta content="website" property="og:type">
        <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}
    {%- if page.image -%}
        <meta name="twitter:card"  content="summary_large_image">
        <meta content="{{site.url}}/assets/img/{{page.image}}.png"
              property="og:image">
        <meta name="twitter:image"
              content="{{site.url}}assets/img/{{page.image}}.png">
    {%- else -%}
        <meta name="twitter:card"  content="summary">
        <meta content="{{site.url}}/assets/site/LOGO_SEO.png"
              property="og:image">
        <meta content="{{site.url}}assets/site/LOGO_SEO.png"
              name="twitter:image">
    {%- endif -%}
    <meta content="{{page.categories}}" property="article:section">
    {%- if page.tags -%}
        {%- for tag in page.tags -%}
            <meta content="{{ tag }}" property="article:tag">
        {%- endfor -%}
    {%- endif -%}
</head>

<body>



    <div class="container">                    
        <div class = "box">
            {%- include header.html -%}
            {%- include feed.html -%}

            {%- if page.content-type == "notes" 
                or page.content-type == "post" 
                or page.content-type == "eg" -%}
            <main>
                <h1>{{page.title}}</h1>
                {%- include content.html -%}
                <hr>
                {%- include backlinks.html -%}
                {%- include related.html -%}
            </main>
            {%- endif -%}
            {%- include comments.html -%}
            {%- include footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>

    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({top: 0, left: 0, behavior: 'smooth'});
        });
    </script>
	<script type="text/javascript" src="../assets/js/summary.js"></script>

    {%- include contextmenu.html -%}
	{%- include text-expand.html -%}
</body>



</html>

{%- if page.content-type == "notes"
or page.content-type == "post" -%}
{%- if page.title != "Tags" -%}
<script>for(let h of document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]'))h.innerHTML+=` <a href="#${h.id}" aria-hidden="true">#</a>`</script>
{%- endif -%}
{%- endif -%}
